/*文本框*/
input.txt,input.txt_focus
{
	border:1px solid gray;
	font-size:13pt;
	ling-height:18pt;
	width:150px;	
}
/*文本框获得焦点时的样式*/
input.txt_focus
{
	border-top:2px solid black;
	border-left:2px solid black;
}
/*验证信息框*/
#accountInfo,#phoneInfo
{
	margin:5px 10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:10pt;
	background-repeat:no-repeat;
	background-position:left center;
	line-height:40px;
}
/*验证消息，验证通过时的样式*/
span.vali_success
{
	padding-left:20px;
	background-image:url("../images/ok.png");
}
/*验证信息：验证失败的样式*/
span.vali_fail
{
	padding-left:20px;
	background-image:url("../images/warn.png");
	border:1px solid red;
	background-color:#fdecec;
	color:red;
}









