<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<!-- 如果是prototype类型，则默认是使用的时候创建，不会启动的时候自动创建 -->
	<bean id="baseAction" class="com.let.action.BaseAction" scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
		<property name="accountService" ref="accountService"></property>
	</bean>
	
	<bean id="categoryAction" class="com.let.action.CategoryAction" scope="prototype" parent="baseAction">
	</bean>
	
	<!-- 此action不用于数据的存储，也不调用业务逻辑，因此单例即可 -->
	<bean id="sendAction" class="com.let.action.SendAction"></bean>
	
</beans>