<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>DataServlet</servlet-name>
		<servlet-class>let.youxi.servlet.DataServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>DataServlet</servlet-name>
	  	<url-pattern>/html/youxi/save</url-pattern>
  	</servlet-mapping>
  
	<servlet>
	  	<servlet-name>DataFindServlet</servlet-name>
	  	<servlet-class>let.youxi.servlet.DataFindServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  	<servlet-name>DataFindServlet</servlet-name>
	  	<url-pattern>/html/youxi/find</url-pattern>
	</servlet-mapping>
  
  
	<!-- 项目管理系统  登录模块 -->
	<servlet>
	  	<servlet-name>LoginServlet</servlet-name>
	  	<servlet-class>let.youxi.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  	<servlet-name>LoginServlet</servlet-name>
	  	<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  	<servlet-name>SignOutServlet</servlet-name>
	  	<servlet-class>let.youxi.servlet.SignOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  	<servlet-name>SignOutServlet</servlet-name>
	  	<url-pattern>/signout</url-pattern>
	</servlet-mapping>
	
  
	<servlet>
	  	<servlet-name>ItemSaveServlet</servlet-name>
	  	<servlet-class>let.youxi.servlet.ItemSaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  	<servlet-name>ItemSaveServlet</servlet-name>
	  	<url-pattern>/html/items/add</url-pattern>
	</servlet-mapping>
  
	<servlet>
	  	<servlet-name>ItemFindServlet</servlet-name>
	  	<servlet-class>let.youxi.servlet.ItemFindServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  	<servlet-name>ItemFindServlet</servlet-name>
	  	<url-pattern>/html/items/findItem</url-pattern>
	</servlet-mapping>
  
	<servlet>
	  	<servlet-name>ItemDelServlet</servlet-name>
	  	<servlet-class>let.youxi.servlet.ItemDelServlet</servlet-class>
	</servlet>
		<servlet-mapping>
	  	<servlet-name>ItemDelServlet</servlet-name>
  	<url-pattern>/html/items/delItem</url-pattern>
	</servlet-mapping>
  
	<!-- 拦截 -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>let.youxi.filters.LoginFilter</filter-class>
	</filter>
	
	<!-- 配置多个映射，哪些请求执行过滤器 -->
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/html/items/*</url-pattern>
	</filter-mapping>
	
	<!-- 上传文件 -->
	<servlet>
	  	<servlet-name>UploadFileServlet</servlet-name>
	  	<servlet-class>let.youxi.servlet.UploadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFileServlet</servlet-name>
		<url-pattern>/html/items/sql</url-pattern>
	</servlet-mapping>
	
	<!-- 获取文件列表 -->
	<servlet>
	  	<servlet-name>FileLoadServlet</servlet-name>
	  	<servlet-class>let.youxi.servlet.FileLoadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileLoadServlet</servlet-name>
		<url-pattern>/html/items/filelist</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
